@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Quicksand:wght@300..700&display=swap');
@import 'flowbite/src/themes/default';

@import 'tailwindcss';
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

@theme {
  --font-quicksand: 'Quicksand', sans-serif;
  --font-lato: 'Lato', sans-serif;

  --color-primary: #f8fafc;
  --color-secondary: #1a535c;
  --color-accent: #ff6b6b;
}
